@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a{
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

h1{
  text-align: center; 
}

.bold {
  font-weight: bold;
}


@media (hover: hover) {
  a:hover {
    background-color: #02c6f773;
    border-radius: 0.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    padding-top: 64px;
  }

  #app {
    display: block;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 2rem;
  }
}
